{% extends 'base.html' %}

{% block body %}

<div id='wrapper'>

    <header id='head'>
        <section class='banner'>
            <div class='inner'>
                <h1>Data Page</h1>
                <hr>
                <h3>Looking at Data about the Titanic</h3>
            </div>
        </section>
    </header>

    <nav>
        <a href='/'>Home Page</a>&nbsp
        <a href="">Investigate data</a>
    </nav>

    <main class='data_container'>
        <div class='area_one'>
            <h3>What do you want to look at?</h3>
            <p>Adobe is one of the most well-known software companies whose
                tools are used by numerous web designers. Many reading this
                article likely use or have used Adobe at some point in their
                careers. That’s why it’s not without irony that Adobe is now
                dabbling in a hush-hush project that seeks to automate many of
                the tasks that designers regularly do as part of their jobs.
            </p>
        </div>
        <div class='area_two'>
            <h3>Data to explore</h3>
            <p>Adobe is one of the most well-known software companies whose
                tools are used by numerous web designers. Many reading this
                article likely use or have used Adobe at some point in their
                careers. That’s why it’s not without irony that Adobe is now
                dabbling in a hush-hush project that seeks to automate many of
                the tasks that designers regularly do as part of their jobs.
            </p>
        </div>
        <div class='area_three'>
            <h5>Basic facts about the Titanic</h5>
            <p>Adobe is one of the most well-known software companies whose
                tools are used by numerous web designers. Many reading this
                article likely use or have used Adobe at some point in their
                careers. That’s why it’s not without irony that Adobe is now
                dabbling in a hush-hush project that seeks to automate many of
                the tasks that designers regularly do as part of their jobs.
            </p>
        </div>
    </main>

</div>


{% endblock %}
