{% extends 'base.html' %}

{% block body %}

<div id='wrapper'>

    <header id='head'>
        <section class='banner'>
            <div class='inner'>
                <h1>The Titanic Project</h1>
                <hr>
                <h3>Looking at Data about the Titanic</h3>
            </div>
        </section>
    </header>

    <nav>
        <button><a href='/'>Home Page</a></button>&nbsp
        <button><a href='/data'>Investigate data</a></button>
    </nav>

    <main class='main_container'>
        <div class='main_area_one'>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                accumsan vel ipsum sollicitudin tristique. Phasellus suscipit
                at velit non pharetra. Aliquam iaculis suscipit dui in sagittis.
                Class aptent taciti sociosqu ad litora torquent per conubia
                nostra, per inceptos himenaeos. Duis finibus molestie tortor sit
                amet euismod. In viverra, massa vitae molestie gravida, libero
                enim ullamcorper enim, vel auctor est lectus in lectus. Donec id
                quam vitae sapien maximus accumsan. Nunc rutrum libero a quam
                auctor, nec viverra est tempus. Sed condimentum massa eget lorem
                finibus, sit amet convallis nisl suscipit. Phasellus consequat
                mi ac metus blandit faucibus.
            </p>
        </div>
        <div class='main_area_two'>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                accumsan vel ipsum sollicitudin tristique. Phasellus suscipit
                at velit non pharetra. Aliquam iaculis suscipit dui in sagittis.
                Class aptent taciti sociosqu ad litora torquent per conubia
                nostra, per inceptos himenaeos. Duis finibus molestie tortor sit
                amet euismod. In viverra, massa vitae molestie gravida, libero
                enim ullamcorper enim, vel auctor est lectus in lectus. Donec id
                quam vitae sapien maximus accumsan. Nunc rutrum libero a quam
                auctor, nec viverra est tempus. Sed condimentum massa eget lorem
                finibus, sit amet convallis nisl suscipit. Phasellus consequat
                mi ac metus blandit faucibus.
            </p>
        </div>
    </main>

</div>

{% endblock %}
