{% extends 'base.html' %}

{% block body %}

<div id='wrapper'>

    <header id='head'>
        <section class='banner'>
            <div class='inner'>
                <h1>The Titanic Project</h1>
                <hr>
                <h3>Looking at Data about the Titanic</h3>
            </div>
        </section>
    </header>

    <main class='main_container'>
        <h1>Login Page</h1>
        <form method="post">
            <p>Username:<input type=text name=username>
            <p>First Name:<input type=text name=firstname /></p>
            <p><input type=submit value=Login>
        </form>
        <!-- <form method='POST' action='/index'>
            <p>First Name:<input type='text' name='first_name' /></p>
            <p>Last Name:<input type='text' name='last_name' /></p>
            <p>user_name:<input type='text' name='user_name' /></p>
            <p>password: <input type='text' name='password' /></p>
            <input class='data_button' type='submit'>
        </form> -->
    </main>



    <footer>
        Copyright &copy; 2017 Double Sun Productions<br>
        <a href="mailto:mcuddy77@gmail.com">mcuddy77@gmail.com</a>
    </footer>

</div>

{% endblock %}
