{% extends 'base.html' %}

{% block body %}

<div id='wrapper'>

    <header id='head'>
        <section class='banner'>
            <div class='inner'>
                <h1>The Titanic Project</h1>
                <hr>
                <h3>Looking at Data about the Titanic</h3>
            </div>
        </section>
    </header>

    <nav>
    </nav>

    <main class='login'>
        <div class='login_box'>
            <h1>Sign Up Page</h1>
            <form method="post">
                <p>Username:<input type=text name=username>
                <p>password: <input type=text name=password /></p>
                <p><input type=submit value=sign_up>
            </form>
        </div>
    </main>

    <footer>
        Copyright &copy; 2017 Double Sun Productions<br>
        <a href="mailto:mcuddy77@gmail.com">mcuddy77@gmail.com</a>
    </footer>

</div>

{% endblock %}
